
body{
	color:#ffffff;
	font-family: "century gothic";
 	background-color: #f8f8f8;
    overflow-x: hidden;
    font-size:14px;
   
}

p, span {
	font-family: "century gothic";
}

h1,h2,h3,h4,h5,h6 {
	font-family: "century gothic";
	color:#333333;
	font-weight: normal;
	
}

h1 {
	margin-top: 30px;
	margin-bottom: 30px;
}



h2 {
	margin-top: 1em;
	margin-bottom: 1em;
}

h3 {
	margin:1em;
}

.container {
	padding-bottom:30px; 
	border:2px solid red;
}


/*====================MEDIA QUERIES===BEGINS=====================================*/

/*=====================below 300px=========================*/
@media screen and (max-width:300px) {


   h1 {
	    	font-size: 24px;
	  }

    h2 {

	    font-size: 14px;
    } 

    h3 {
	font-size: 12px;
   }


   	.featured {left:10%; top:50%;}
    .featured .f1 {display:block; font-weight: bold;  font-size:24px ; line-height: 30px; margin-left: -3px; color: #ffffff; font-weight:600;  }
    .featured .f2 { letter-spacing: 0.3px; display:block; font-size:14px ;  color: #ffffff; }
    .featured h3 {font-size:12px ; font-weight: 600;}
    .featured a div {margin-top: 1.2em;}

	

	.logo { 
		width:200px;
		 height:20px; 
		 top:30px;
		 left:-10px;
		
	
   }


   




}

/*=====================at 300px=========================*/
@media screen and (min-width:301px) {



   h1 {
	    	font-size: 24px;
	  }

    h2 {

	    font-size: 14px;
    } 

    h3 {
	font-size: 12px;
   }


   	.featured {left:10%; top:50%;}
    .featured .f1 {display:block; font-weight: bold;  font-size:24px ; line-height: 1.2em; margin-left: -3px; color: #ffffff; }
    .featured .f2 { letter-spacing: 0.3px; display:block; font-size:14px ;  color: #ffffff;}
    .featured h3 {font-size:12px ; font-weight: 600;}
    .featured a div {margin-top: 1.2em;}

 	
	.logo { 
		width:200px;
		 height:20px; 
		
	
   }

  

   
}

/*=====================at 400px=========================*/
@media screen and (min-width:401px) {
	


   h1 {
	    	font-size: 24px;
	  }

    h2 {

	    font-size: 14px;
    } 

    h3 {
	font-size: 12px;
   }


   	.featured {left:10%; top:50%;}
    .featured .f1 {display:block; font-weight: bold;  font-size:24px ; line-height: 1.2em; margin-left: -3px; color: #ffffff; }
    .featured .f2 { letter-spacing: 0.3px; display:block; font-size:14px ;  color: #ffffff;}
    .featured h3 {font-size:12px ; font-weight: 600;}
    .featured a div {margin-top: 1.2em;}



	.logo { 
		width:200px;
		 height:20px; 
		
	
   }

  

  
}


/*=====================at 500px=========================*/
@media screen and (min-width:500px) {
	.logo { 
		width:200px;
		 height:20px; 
		
	
   }
 
     
    .featured {left:10%; top:50%;}

   
}

/*=====================at 600px=========================*/
@media screen and (min-width:600px) {



   h1 {
	    	font-size: 36px;
	  }

    h2 {

	    font-size: 16px;
    } 

    h3 {
	font-size: 14px;
   }

   	.featured {left:10%; top:50%;}
    .featured .f1 {display:block; font-weight: bold;  font-size:36px ; line-height: 1.2em; margin-left: -3px; color: #ffffff; }
    .featured .f2 { letter-spacing: 0.3px; display:block; font-size:16px ;  color: #ffffff;}
    .featured h3 {font-size:12px ; font-weight: 600;}
    .featured a div {margin-top: 1.2em;}




	.logo { 
		width:200px;
		height:20px; 
   }

  
}

/*=====================at 800px=========================*/
@media screen and (min-width:800px) {



   h1 {
	    	font-size: 50px;
	    	
	  }

    h2 {

	    font-size: 18px;
	   
    } 

    h3 {
	font-size: 14px;
   }


     .featured {left:10%; top:60%;}
    .featured .f1 {display:block; font-weight: bold;  font-size:50px ; line-height: 1.2em; margin-left: -3px; color: #ffffff; }
    .featured .f2 { letter-spacing: 0.3px; display:block; font-size:18px ;    color: #ffffff;}
    .featured h3 {font-size:14px ; font-weight: 600;}
    .featured a div {margin-top: 1.2em;}

	.logo { 
		width:400px;
		 height:40px; 
		 margin:1% 0%;
	
   }


  
}





/*===========================MEDIA QUERIES ENDS=======================*/













.navbar-own {
		border-bottom: 0.25px solid;
		border-color: rgba(255,255,255,0.2);
		height: 100px;
       
}

@media screen and (max-width:600px)
{
	.navbar-own {
		border:none;
	}

	div.navbar-about-btn {
		display:none;
	}
	


}


 

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

ul.topnav li {float: left; }

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 30px 0px 50px;
    text-decoration: none;
    background-color: none;
}




ul.topnav li a:hover:not(.active) {background-color: none;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;  margin-left: -50px;}



@media screen and (max-width: 800px){
  
    .navbar-own {
    	display:none;
    }

  

}



@media screen and (min-width: 801px){
    
    .navbar-small{
    	display:none;
    }

   

}

/*----------- navbar begins -----------------*/

  .navbar-small {  height:80px; width:100%; background-color:none; border-bottom: 1px solid white;  }
 
  .navbar-small ul li { list-style:none; display:inline-block;}
  .navbar-small ul li:first-child { float:left; margin-left:-20px; margin-top:30px;}
  .navbar-small ul li:last-child {  float:right; margin-right:50px; margin-top:30px;}
  .navbar-small ul li img {display: inline-block;}


   .dropdown-content { display:block; position:absolute; visibility:hidden;  }
   .dropdown {display:inline-block;}
   .dropdown:hover .dropdown-content {padding:1em;  position: absolute; right:50px; background-color:rgba(255,255,255,0.5); visibility:visible; }
 

/*------------------*/

  
 
.navbar-about-btn h3 {
	display:inline-block;

  border-style: solid;
  border-width: 1px;
  color:#ffffff;
  padding:1.2em;

 
  
  
  border-color: #ffffff;
  font-color: #ffffff;
}



 a, a:hover {
	
	text-decoration: none;
}


.logo {
	position:absolute;
	
}


.logo1 {
	 
	 
	 width:70px;
	 height:40px;
}
/* ---------------navbar ends------------------------- */


/*--------------------col-lg-4---------------*/
.col-lg-4 {
	
	
}

/*--------------------col-lg-4---------------*/



.sub_heading {
   
}


/*----------------big_canvas begins-------------------- */
.featured {
	position:absolute;
	left:8%;
	bottom:15%;

	
}

 .big_canvas {

    background-image: url('assets/logo/canvas.png');
	background-size: cover;
    position: relative;
   
	width:100% ;
	height: 680px;
}

.cover-image {
	position:absolute;
	
    width:100% ;
	height: 100%;
}

.interview-link, .interview-link:hover {
	color: #ffffff; 
	text-decoration: none;
}


.interview-btn {  
 
  background-color: rgba(255,255,255,0.5) ;
  display: inline-block;
  font-color: #ffffff;
  
  margin-top:0.3em;
}



/*-----------main interviewe frame---------------*/
.main-interview-frame {
	background-color: #f8f8f8;
}

.main-video {
	margin-top: 20px;
    margin-bottom: 20px;
}





/*  --------Playlist---------------*/

.playlist_container {
	position:relative;
 	color: #000000;
    background-color: #ffffff;   
    width:100%;
}

.playlist {
   

}

.playlist .embed-responsive .embed-responsive-16by9  {

 	border:10px solid green;
	display: inline-block;
	position: absolute;
	left:0;
	top:0;

}

.video-title {
	line-height: 16px;
	
}


.video-excerpt {
	color: #999;
	font-family: "century gothic";
	line-height: 1.75;
	
}



/* --=======================about us  ==================--*/
.about_us {
	background-color: #f8f8f8;
	color:#999;
}

.img_about_us_1 {margin-top: 20px;}
.img_about_us_2 {margin-top: 20px; }
.img_about_us_3 {margin-top: 20px;}

.img_about_us_4 {margin-top: 20px;}
.img_about_us_5 {margin-top: 20px;}
.img_about_us_6 {margin-top: 20px;}
.img_about_us_7 {margin-top: 20px;}
.img_about_us_8 {margin-top: 20px;}
.img_about_us_9 {margin-top: 20px;}
/* --=======================REDTHREAD initiative ==================--*/
.tranparent_layer {
  background-color:rgba(1,0,0,.8);
 
}



.logo_center {
	margin-top:40px;


   }

.redthread-facts {
	background-image:url('assets/logo/redthread-initiatve.png');
	background-repeat:  no-repeat;
	back

}

.redthread-facts h1 { color:#ffffff; }
.redthread-facts h2 { color:#ffffff; }
.redthread-facts h3 { color:#ffffff; }




.four-hundred {
	display: inline-block;
	position: relative;
    font-family: "century gothic";
   
    font-size: 2.8rem;
    line-height: 1.2em;
}


.design_firms {
	display: inline-block;
	font-family: "century gothic";
	font-size: 1.4rem;
	line-height: 1.2em;
	margin-top:40px;
	
}


@media and screen (max-width:400px) {


	

}

@media screen (min-width:401px) and (max-width:600px) {


	.design_firms {
		display: inline-block;
		font-family: "century gothic";
		font-size: 1px;
		line-height: 1.2em;
		margin-top:1.2em;
	}



	.four-hundred {
		display: inline-block;
		position: relative;
   	    font-family: "century gothic";
  	    font-size: 1em;
        line-height:1.2em;
    }

}

/* ---==============contact us ====================--*/
	
.contact_us {
	background-color: #f8f8f8;
	color: #333;
	width: 100%;
	height: 400px;
	line-height: 3em;
	
}
.sentence {
		color:#999;
	
	
	line-height: 1.2em;

	margin-top:3.2em;



}


.social_connect {

	
	position:relative;
    
	line-height: .2em;
	
	font-family: "century gothic";
	
	margin-top: 0px;

}

.contact_word {
	font-family: "century gothic";
   font-weight: 10;
   margin-top: 0px;
	color:#333333;
}

.jumbotron {
   border:3px solid green;
   width: 100%;
   background-color: rgba(0,0,0,0);
   margin-bottom: 0px;
}


/*@media screem and (min-width:600px ) {

	.social_connect , .sentence {
		width:50%;
		margin-left:100px; 
	}
}

/* ======footer ==============*/

.footer{
	background-color:#323232;
	height: 50px;
	padding:2px;
	
}


